venv/
__pycache__/
*.pyc
**/config.py
*key*.py
*secret*.py
.env
data_protocols/
data_safety/
qdrant_storage/
.DS_Store
*.log
.vscode/
data_generation/dataset.jsonl
data_generation/profiles.json
data_generation/dataset.jsonl
